
---
import Paragraph from '../shared/Paragraph.astro';

export interface Props {
  name: string;
  testimonial: string;
  imageUrl: string;
}

const { name, testimonial, imageUrl } = Astro.props;
---
<div class="bg-white rounded-xl shadow-md overflow-hidden md:flex md:flex-col mr-4" style="width: 600px; height: 400px;">
  <div class="relative">
    <img
      src={imageUrl}
      alt={name}
      style="width: 100%; height: 100%; object-fit: cover;"
    />
  </div>
  <div class="pt-8 text-center">
    <div class="text-l tracking-wide text-primary font-bold">
      {name}
    </div>
    <div class="mt-2 pb-3  text-gray-500 text-sm">
      <Paragraph>{testimonial}</Paragraph>
    </div>
  </div>
</div>