---
import Paragraph from '../shared/Paragraph.astro';

export interface Props {
  name: string;
  testimonial: string;
  imageUrl: string;
}

const { name, testimonial, imageUrl } = Astro.props;
---
<div class="bg-white rounded-xl shadow-md overflow-hidden md:flex md:flex-col mr-4 mt-3 mb-4" >


  <div class="relative h-48 md:h-64">
    <img
      class="absolute inset-0 w-full h-full object-cover"
      src={imageUrl}
      alt={name}
    />
  </div>
  <div class="pt-6 text-center">
    <div class="text-xl tracking-wide text-primary font-bold">
      {name}
    </div>
    <div class="mt-2 pb-3  text-gray-500" style="font-size: 18px;">
      <Paragraph>{testimonial}</Paragraph>
    </div>
  </div>
</div>
