---
import AffiliatePartner from "../cards/AffiliatePartner.astro";
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
---
<style>
    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 aspect ratio */
      height: 0;
      overflow: hidden;
    }
    
    .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .external-link {
        color: blue; /* or any color that stands out */
        text-decoration: underline;
    }

    .external-link-icon {
        font-size: smaller;
        vertical-align: super;
    }
</style>
<section id="partners">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Impulsando Tu Éxito a Través de Nuestras Alianzas Estratégicas
            </Title>
            <Paragraph>
                Colaboramos con una red seleccionada de socios líderes en la industria, ofreciéndote los servicios y soluciones de la más alta calidad bajo un mismo techo. Tus necesidades y objetivos son nuestra prioridad, y para garantizar tu éxito, aprovechamos estas alianzas para brindarte lo mejor que la industria tiene para ofrecer.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <AffiliatePartner 
                name="District Pro Realty"
                key = "Tu Puerta de Acceso a Bienes Raíces Premium" 
                link="https://districtprorealty.com"
                logoUrl="https://districtprorealty.com/wp-content/uploads/2022/10/open_graph.png">
            </AffiliatePartner>
            <AffiliatePartner 
                name="Asesoría Americana & Taxline Services"
                key = "Servicios Financieros y Fiscales Expertos" 
                link="https://taxlineandservices.com/"
                logoUrl="http://taxlineandservices.live-website.com/wp-content/uploads/2021/02/WhatsApp-Image-2021-02-06-at-10.12.31-AM-1-300x200.jpeg">
            </AffiliatePartner>
            <AffiliatePartner 
                name="District Home Loans"
                key = "Tu Socio de Confianza en Financiamiento Inmobiliario" 
                link="https://districthomeloans.com/"
                logoUrl="https://s3-media0.fl.yelpcdn.com/bphoto/Tb94Sb5hNufVas62r4wwHQ/348s.jpg">
            </AffiliatePartner>
            <AffiliatePartner 
                name="Value Assist Cap"
                key = "Elevando Negocios con Soluciones de Capital Integrales" 
                link="https://valueassistcap.com/"
                logoUrl="https://media.licdn.com/dms/image/C4E0BAQFKtm1Npd4KRA/company-logo_200_200/0/1679676854174/valueassist_capital_logo?e=2147483647&v=beta&t=gHQR4onCHYHfTZkr4vw5x5-MtEPwmo2ljOeqFnF7d-o">
            </AffiliatePartner>
            
            <AffiliatePartner 
                name="Quantum Title Corp"
                key = "Quantum Title is an Attorney owned and operated company. " 
                link="https://quantumsettlements.com/"
                logoUrl="https://media.licdn.com/dms/image/C4E1BAQGwz2haFMZ2ig/company-background_10000/0/1585113959383/quantum_title_corporation_cover?e=2147483647&v=beta&t=MJC2ciCMEo8DLSHBrATK1rvimwN7xG-c4iMAnTCwPnU">
            </AffiliatePartner>
            <AffiliatePartner 
                name="Legalshield & ID Shield"
                key = "Protegiendo a Ti y a Tu Negocio Legal y Digitalmente" 
                link="https://fortizpa.wearelegalshield.com/"
                logoUrl="https://fortizpa.wearelegalshield.com/sites/default/files/styles/x_large/public/image/2021-10/GettyImages-1045302284.jpg?itok=CTPhx1K8">
            </AffiliatePartner>

            <!-- Repetir para otros socios -->
        </div>
       
        
        
    </Container>
</section>