---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<style>
  .logo-scroll {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
    animation: scroll 10s linear infinite; 
  }
  
  .logo-scroll::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
  }

  .logo-item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px; /* Adjust this value based on your design */
    padding: 0 10px;
  }

  .logo-item img {
    max-height: 100%;
    width: auto;
  }

  /* For mobile devices */
  @media (max-width: 767px) {
    .logo-item {
      height: 120px;  /* adjust as needed */
    }
  }

  /* For desktop devices */
  @media (min-width: 768px) {
    .logo-item {
      height: 169px;  /* adjust as needed */
    }
  }
</style>

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>
        Con la confianza de empresas como
      </Title>
    </div>
    <div class="logo-scroll gap-4">
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/Hartford.webp" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/PIE.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
          </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/bi.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
          </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/attune.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/Coterie.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/Branch.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/NatGen.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/Excess.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/ISI.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/appalachian.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/aero.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/NEXT.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
        <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
          <img src="/logos/Thimble.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
        </div>
          
          <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
              <img src="/logos/spotify.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
          </div>
          <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
            <img src="/logos/Clearcover.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
          </div>
          <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
            <img src="/logos/gcaar.png" width="260" height="180" alt="slack" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
          </div>
          <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
              <img src="/logos/slack.png" width="260" height="180" alt="slack" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
          </div>
          
          <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
              <img src="/logos/paypallogo.png" width="260" height="180" alt="paypal" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
          </div>
          
          <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
              <img src="/logos/mc.png" width="360" height="180" alt="spotify" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
          </div>
          
          <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
              <img src="/logos/fortis.png" width="260" height="180" alt="slack" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
          </div>
          
          <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
              <img src="/logos/smart.png" width="260" height="180" alt="paypal" class="h-34 sm:h-36 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
          </div>
          
          <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group logo-item">
              <img src="/logos/reallogos.png" width="260" height="180" alt="paypal" class="h-34 sm:h-36 w-auto ease-linear duration-300  group-hover:!grayscale-0 group-hover:scale-105">
          </div>
        </div>
    </Container>
</section>
