---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---
<section id="contact" class="bg-gray-100 py-20">
    <Container className="max-w-4xl mx-auto space-y-8">
      <div class="text-center">
        <Title class="text-4xl font-bold text-primary">
          Contact Us
        </Title>
        <Paragraph className="mt-4 text-lg">
          For an immediate, personal response to your queries, contact us at:
        </Paragraph>
      </div>
      
      <div class="mx-auto space-y-8">
        <div class="text-center">
          <Title class="text-2xl font-bold text-primary">
            Insurance
          </Title>
          <Paragraph>
            Phone: <a href="tel:+12406475694,,10" class="underline"> (240) 647-5694 ext. 10</a>
          </Paragraph>
        </div>
  
        <div class="text-center">
          <Title class="text-2xl font-bold text-primary">
            Real Estate
          </Title>
        </br>
          <Paragraph>
            Broker (Taylor Properties) Office Phone Number: <a href="tel:+18005900925" class="underline"> (800) 590-0925</a>
          </Paragraph>
        </br>
          <Paragraph>
            For faster service, please contact Pedro directly at: <a href="tel:+12406475694,,10" class="underline">(240) 647-5694 ext. 10</a>
          </Paragraph>
        </div>
  
        <div class="text-center">
          <Title class="text-2xl font-bold text-primary">
            Business Hours
          </Title>
          <Paragraph>
            Insurance: Mon-Fri: 9:00 AM - 6:00 PM
            <br />
            Real Estate: Mon-Sun: 9:00 AM - 9:00 PM
          </Paragraph>
        </div>
  
        <div class="text-center">
          <Title class="text-2xl font-bold text-primary">
            Schedule an Appointment
          </Title>
          <Paragraph>
            Click the button below to schedule a convenient appointment with our experts:
          </Paragraph>
          <div class="flex justify-center">
            <a href="https://calendly.com/your-calendly-link" target="_blank" rel="noopener noreferrer" class="bg-primary text-white px-6 py-3 rounded-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary">
              Schedule Appointment
            </a>
          </div>
        </div>
        
        <div class="text-center">
          <Title class="text-2xl font-bold text-primary">
            Address
          </Title>
          <Paragraph>
            <a href="#" id="address-link" class="underline">40 York Road Suite 250, Towson, MD 21204</a>
          </Paragraph>
        </div>
      </div>
      </Container>
  
      <script type="module">
        document.getElementById('address-link').addEventListener('click', function openMaps(event) {
          event.preventDefault();
          
          var userAgent = navigator.userAgent || navigator.vendor || window.opera;
    
          // Check if the user is using an iOS device
          if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
            window.location.href = "maps://maps.apple.com/?q=40+York+Road+Suite+250+Towson+MD+21204";
          }
          // Check if the user is using an Android device
          else if (/android/i.test(userAgent)) {
            window.location.href = "geo:0,0?q=40+York+Road+Suite+250+Towson+MD+21204";
          }
          // Fallback for other devices
          else {
            window.open("https://maps.google.com/?q=40+York+Road+Suite+250+Towson+MD+21204", "_blank");
          }
        });
      </script>
  </section>
  