---
// Import necessary Astro components
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
import Button from "../shared/Button.astro"; // Add a button component for call-to-action
---

<section id="faq" class="bg-gray-100 py-10">
  <Container className="flex flex-col gap-10">
    <div class="flex-1 flex flex-col relative bg-white p-10 shadow-lg rounded-lg">
      <Title>FAQ: Unlocking Business Security</Title>
      <Paragraph className="mt-8">
        Dive into our FAQs to understand how our bespoke business insurance policies fortify your venture's future. Ready for more detail? Our experts are just a call away!
      </Paragraph>
      <div class="mt-8">
        <details class="mb-4">
          <summary class="font-bold cursor-pointer">What Comprehensive Coverage Does Business Insurance Offer?</summary>
          <Paragraph>
            Beyond the basics, our business insurance offers a safety net for your assets, covering property damage, legal liabilities, employee-related risks, and much more. Let's discuss a plan that secures all corners of your business!
          </Paragraph>
        </details>
        <details class="mb-4">
          <summary class="font-bold cursor-pointer">How Do I Tailor Business Income for Insurance to My Company's Needs?</summary>
          <Paragraph>
            Calculating business income for insurance isn't just about the numbers; it's about understanding your operation's heartbeat. Connect with us to navigate through net income, operating expenses, and beyond, ensuring your coverage matches your business's pulse.
          </Paragraph>
        </details>
        <details class="mb-4">
          <summary class="font-bold cursor-pointer">Why is Business Insurance the Backbone of My Venture?</summary>
          <Paragraph>
            Business insurance doesn't just protect; it propels. Shielding from unforeseen events and aligning with legal requirements, it's the silent guardian ready to turn potential pitfalls into pathways for growth. Let's ensure your business is fortified.
          </Paragraph>
        </details>
        <details class="mb-4">
          <summary class="font-bold cursor-pointer">Unlocking the Mysteries of Business Insurance – Why is it My Business's Lifeline?</summary>
          <Paragraph>
            It's more than a safety net; it's a strategic asset. Business insurance is vital for safeguarding your dream against the unpredictable, ensuring that your journey from startup to industry leader is secure and supported at every step. Discover how with our team.
          </Paragraph>
        </details>
      </div>
      <div class="mx-auto max-w-md sm:max-w-xl pt-10">
        <a href="https://calendly.com/fortismultiservice/booknow" target="_blank" rel="noopener noreferrer">
          <Button variant={"primary"}>
            <span class="text-white relative z-[5]">Speak to an Expert Now!</span>
          </Button>
        </a>
      </div>
    </div>
  </Container>
</section>
