---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
import Button from "../shared/Button.astro"; // Añadir un componente de botón para llamada a la acción
---
<section id="faq" class="bg-gray-100 py-10">
  <Container className="flex flex-col gap-10">
    <div class="flex-1 flex flex-col relative bg-white p-10 shadow-lg rounded-lg">
      <Title>Preguntas Frecuentes: Desbloqueando la Seguridad Empresarial</Title>
      <Paragraph className="mt-8">
        Sumérgete en nuestras preguntas frecuentes para comprender cómo nuestras pólizas de seguro empresarial a medida fortalecen el futuro de tu emprendimiento. ¿Listo para más detalles? ¡Nuestros expertos están a solo una llamada de distancia!
      </Paragraph>
      <div class="mt-8">
        <details class="mb-4">
          <summary class="font-bold cursor-pointer">¿Qué Cobertura Integral Ofrece el Seguro Empresarial?</summary>
          <Paragraph>
            Más allá de lo básico, nuestro seguro empresarial ofrece una red de seguridad para tus activos, cubriendo daños a la propiedad, responsabilidades legales, riesgos relacionados con empleados y mucho más. ¡Hablemos de un plan que asegure todos los aspectos de tu negocio!
          </Paragraph>
        </details>
        <details class="mb-4">
          <summary class="font-bold cursor-pointer">¿Cómo Personalizar los Ingresos de mi Empresa para el Seguro según las Necesidades de mi Compañía?</summary>
          <Paragraph>
            Calcular los ingresos empresariales para el seguro no se trata solo de los números; se trata de comprender el ritmo de tu operación. Conéctate con nosotros para navegar a través del ingreso neto, los gastos operativos y más allá, asegurando que tu cobertura esté en sintonía con el pulso de tu negocio.
          </Paragraph>
        </details>
        <details class="mb-4">
          <summary class="font-bold cursor-pointer">¿Por Qué el Seguro Empresarial es la Columna Vertebral de Mi Empresa?</summary>
          <Paragraph>
            El seguro empresarial no solo protege; impulsa. Resguardando de eventos imprevistos y alineándose con los requisitos legales, es el guardián silencioso listo para convertir posibles obstáculos en caminos hacia el crecimiento. Aseguremos que tu empresa esté fortificada.
          </Paragraph>
        </details>
        <details class="mb-4">
          <summary class="font-bold cursor-pointer">Desvelando los Misterios del Seguro Empresarial – ¿Por Qué es el Sustento de Mi Empresa?</summary>
          <Paragraph>
            Es más que una red de seguridad; es un activo estratégico. El seguro empresarial es vital para proteger tu sueño contra lo impredecible, asegurando que tu viaje de startup a líder de la industria esté seguro y apoyado en cada paso. Descubre cómo con nuestro equipo.
          </Paragraph>
        </details>
      </div>
      <div class="mx-auto max-w-md sm:max-w-xl pt-10">
        <a href="https://calendly.com/fortismultiservice/booknow" target="_blank" rel="noopener noreferrer">
          <Button variant={"primary"}>
            <span class="text-white relative z-[5]">¡Habla con un Experto Ahora!</span>
          </Button>
        </a>
      </div>
    </div>
  </Container>
</section>