---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col relative">
            <Title>
                En Fortis Multi-Service Agency
            </Title>
            <Paragraph className="mt-8">
                Licenciados en Seguros de Propiedad y Accidentes y Seguros de Vida en MD, VA y DC. Contamos con 15 años de experiencia en la industria y nos especializamos en:
            </Paragraph>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Líneas comerciales
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Líneas personales
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Seguros de Vida y Discapacidad
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Servicios de Seguros para Deportes de Motor y Autos Clásicos
                </li>
            </ul>
            <Paragraph className="mt-8">
                Nos especializamos en Seguros de Vida y Discapacidad a través de Ohio National y ERIE Insurance. No dudes en contactarnos para una consulta. Ofrecemos servicios como valoraciones comerciales y análisis de necesidades para ayudarte a determinar la cobertura que necesitas.
            </Paragraph>
            
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto relative">
            <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-80 blur-2xl left-0 bottom-0"></span>
            <div class="w-full h-80 sm:h-96 midmd:h-full overflow-hidden">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                <img src={"/images/dev-with-c-1.webp"} alt="banner image" class="w-auto h-auto max-h-full absolute bottom-0 left-1/2 transform -translate-x-1/2" />
                
            </div>
            
        </div>
    </Container>
</section>
