---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col relative">
            <Title>
                Features:
            </Title>
            <Paragraph className="mt-8">
                Experience the <b>Fortis</b> Difference
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> <u><b>Comprehensive Insurance Solutions:</b></u> Tailored coverage for your unique needs. We specialize in commercial and personal lines, ensuring you have the right protection for your business and personal assets.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> <u><b>Life and Disability Insurance Experts:</b></u> Safeguard your loved ones and secure your financial future. Benefit from our expertise in Life and Disability Insurance through trusted providers like Ohio National & ERIE Insurance.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> <u><b>Specialized Motorsports and Classic Car Insurance:</b></u> Protect your passion for motorsports and classic cars. Our specialized coverage ensures your prized possessions are safeguarded against unforeseen circumstances.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> <u><b> Business Valuations and Need Analysis: </b></u>Planning for the future? We offer expert business valuations and need analysis services, helping you make informed decisions about your coverage requirements.
                </li>
            </ul>
            <Paragraph className="mt-8">
                Discover the coverage you need. <i><b>Contact us for a consultation today.</b> </i>Our team is dedicated to providing tailored solutions and exceptional service.
            </Paragraph>
            
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto relative">
            <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-80 blur-2xl left-0 bottom-0"></span>
            <div class="w-full h-80 sm:h-96 midmd:h-full overflow-hidden">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                <img src={"/images/dev-with-c-1.webp"} alt="banner image" class="w-auto h-auto max-h-full absolute bottom-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" />
                
            </div>
            
        </div>
    </Container>
</section>
