---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col relative">
            <Title>
                Características:
            </Title>
            <Paragraph className="mt-8">
                Experimente la Diferencia de <b>Fortis</b>
            </Paragraph>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> <b>Soluciones de Seguros Integrales:</b> Cobertura adaptada para sus necesidades únicas. Nos especializamos en líneas comerciales y personales, asegurando que tenga la protección adecuada para sus activos empresariales y personales.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> <b>Expertos en Seguros de Vida y Discapacidad:</b> Proteja a sus seres queridos y asegure su futuro financiero. Benefíciese de nuestra experiencia en Seguros de Vida y Discapacidad a través de proveedores de confianza como Ohio National & ERIE Insurance.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> <b>Seguros Especializados para Deportes Motorizados y Coches Clásicos:</b> Proteja su pasión por los deportes motorizados y los coches clásicos. Nuestra cobertura especializada garantiza que sus posesiones preciadas estén resguardadas contra circunstancias imprevistas.
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> <b> Valoraciones de Negocios y Análisis de Necesidades:</b>  ¿Planificando para el futuro? Ofrecemos servicios expertos de valoración de negocios y análisis de necesidades, ayudándole a tomar decisiones informadas sobre sus requisitos de cobertura.
                </li>
            </ul>
            <Paragraph className="mt-8">
                Descubra la cobertura que necesita. <b>Contáctenos para una consulta hoy. </b>Nuestro equipo está dedicado a proporcionar soluciones adaptadas y un servicio excepcional.
            </Paragraph>
            
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto relative">
            <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-80 blur-2xl left-0 bottom-0"></span>
            <div class="w-full h-80 sm:h-96 midmd:h-full overflow-hidden">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                <img src={"/images/dev-with-c-1.webp"} alt="banner image" class="w-auto h-auto max-h-full absolute bottom-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" />
                
            </div>
            
        </div>
    </Container>
</section>
