---
import Service from "../cards/Testimonial.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="model">
   <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>
        Descubre un Mundo de Protección con Seguros Fortis
      </Title>
    </div>
    
    <div class="relative">
      <div class="text-center">
        <figure>
          <img src="./images/fortis_world.png" alt="Landscape Model" class="model">
          <figcaption>Explora el mapa para ver cómo Seguros Fortis protege cada aspecto de tu mundo.</figcaption>
        </figure>
      </div>
  
      <!-- Add pins -->
      <div class="interactive-pin" data-pin-id="1"></div>
      <div class="interactive-pin" data-pin-id="2"></div>
      <div class="interactive-pin" data-pin-id="3"></div>
      <div class="interactive-pin" data-pin-id="4"></div>
      <div class="interactive-pin" data-pin-id="5"></div>
      <div class="interactive-pin" data-pin-id="6"></div>
      <div class="interactive-pin" data-pin-id="7"></div>
  
            
      <!-- Popup para Empresas de Construcción -->
      <div id="popup-1" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Seguro Dedicado para Proyectos de Construcción</h2>
        <p><strong>Problema:</strong> Los proyectos de construcción están expuestos a una gran cantidad de riesgos, incluyendo accidentes en obra, retrasos y daño o robo de equipos.</p>
        <p><strong>Solución:</strong> Nuestro Seguro de Construcción ofrece cobertura integral que abarca responsabilidad general, compensación para trabajadores y seguro de equipo, asegurando que sus proyectos continúen sin contratiempos y según lo programado.</p>
        
      </div>

      <!-- Popup para Carpintería de Interiores -->
      <div id="popup-2" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Asegura Tu Arte con Confianza</h2>
        <p><strong>Problema:</strong> La carpintería de interiores requiere precisión y puede verse afectada por accidentes o daños en las áreas de trabajo.</p>
        <p><strong>Solución:</strong> Nuestras pólizas de BOP y Compensación para Trabajadores protegen su negocio contra lo inesperado, asegurando que su artesanía siga destacando.</p>
        
      </div>

      <!-- Popup para Tiendas de Abarrotes -->
      <div id="popup-3" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Protege Tu Fuente de Alimentación</h2>
        <p><strong>Problema:</strong> Las tiendas de abarrotes son el soporte de la comunidad, pero están vulnerables a responsabilidades como lesiones de clientes o problemas con los productos.</p>
        <p><strong>Solución:</strong> Nuestras pólizas ofrecen protección integral, desde los estantes hasta la caja, asegurando que su tienda sirva a la comunidad sin interrupciones.</p>
        
      </div>

      <!-- Popup para Administradores de Propiedades -->
      <div id="popup-4" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Protección de Activos para Administradores de Propiedades</h2>
        <p><strong>Problema:</strong> Administrar propiedades conlleva el riesgo de daños a los activos y reclamaciones de responsabilidad civil.</p>
        <p><strong>Solución:</strong> Nuestras opciones de seguros personalizadas cubren todos los aspectos de la administración de propiedades, desde interacciones con inquilinos hasta protección contra desastres naturales.</p>
        
      </div>

      <!-- Popup para Servicios de Automóviles -->
      <div id="popup-5" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Cobertura Robusta para Servicios de Automóviles</h2>
        <p><strong>Problema:</strong> La industria de servicios de automóviles enfrenta riesgos desde daños a equipos hasta accidentes de vehículos de clientes en el sitio.</p>
        <p><strong>Solución:</strong> Nuestros planes de seguros están diseñados para cubrir las necesidades específicas de los proveedores de servicios de automóviles, dándole la seguridad para centrarse en la excelencia del servicio.</p>
        
      </div>

      <!-- Popup para Restaurantes -->
      <div id="popup-6" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Protección Esencial para Tus Creaciones Culinarias</h2>
        <p><strong>Problema:</strong> Los restaurantes enfrentan riesgos que van desde incendios en cocinas hasta preocupaciones de seguridad alimentaria, afectando las operaciones y la experiencia de los clientes.</p>
        <p><strong>Solución:</strong> Nuestro Seguro Especializado para Restaurantes va más allá de la responsabilidad general, ofreciendo cobertura para incidentes relacionados con la propiedad, empleados y clientes, asegurando que pueda continuar deleitando paladares sin preocupaciones.</p>
        
      </div>

      <!-- Popup para Servicios de Jardinería -->
      <div id="popup-7" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Cobertura Integral para Servicios de Jardinería</h2>
        <p><strong>Problema:</strong> Los jardineros se encuentran con riesgos como el robo de equipos, daños accidentales a la propiedad e interrupciones por el clima.</p>
        <p><strong>Solución:</strong> Nuestras pólizas de Seguro de Jardinería protegen contra una amplia gama de riesgos específicos de la industria, asegurando que su negocio crezca tan hermosamente como los céspedes que mantiene.</p>
        
      </div>


    </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Function to close all popups
    function closeAllPopups() {
      const popups = document.querySelectorAll('.popup');
      popups.forEach(popup => popup.classList.remove('visible'));
    }

    // Function to handle click on pin
    function handlePinClick(event: Event) {
      closeAllPopups();
      
      const pinId = (event.target as HTMLElement).getAttribute('data-pin-id');
      const popupId = `#popup-${pinId}`;
      const popup = document.querySelector(popupId);

      if (popup) {
        popup.classList.toggle('visible');
      }
    }

    // Add click event listener to each pin
    const pins = document.querySelectorAll('.interactive-pin');
    pins.forEach(pin => {
      pin.addEventListener('click', handlePinClick);
    });
    
    // Optionally, add a close button inside each popup and close the popup when it's clicked
    const closeButtons = document.querySelectorAll('.popup-close');
    closeButtons.forEach(button => {
      button.addEventListener('click', closeAllPopups);
    });
  });
</script>

<style>
#model .popup {
  position: absolute;
  z-index: 10; /* Make sure this is higher than any other content */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add more styles for aesthetics */
}

#model .popup.visible {
  display: block;
}
#model .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#model .interactive-pin {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  /* Use transform to center the pin correctly based on its own size */
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px 4px rgba(0, 123, 255, 0.6); /* Adjust the color and size as needed */
}


/* Position each pin individually */
#model .interactive-pin[data-pin-id="1"] {
  top: 45%;
  left: 25%;
}
#model .interactive-pin[data-pin-id="2"] {
  top: 40%;
  left: 45%;
}
#model .interactive-pin[data-pin-id="3"] {
  top: 67%;
  left: 40%;
}
#model .interactive-pin[data-pin-id="4"] {
  top: 80%;
  left: 52%;
}
#model .interactive-pin[data-pin-id="5"] {
  top: 50%;
  left: 85%;
}
#model .interactive-pin[data-pin-id="6"] {
  top: 35%;
  left: 73%;
}
#model .interactive-pin[data-pin-id="7"] {
  top: 23%;
  left: 45%;
}




@media screen and (min-width: 768px) {
  #model .model {
        max-width: 80%; /* or any other percentage or fixed size */
        height: auto; /* maintain aspect ratio */
        margin: 0 auto; /* center the image */
    }
}

</style>