---

import Container from "../shared/Container.astro";

import Title from "../shared/Title.astro";
---

<section id="model">
   <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>
        Discover a World of Protection with Fortis Insurance
      </Title>
    </div>
    
    <div class="relative">
      <div class="text-center">
        <figure>
          <img src="images/fortis_world.png" alt="Landscape Model" class="model">
          <figcaption>Explore the map to see how Fortis Insurance safeguards every aspect of your world.</figcaption>
        </figure>
      </div>
    

      <!-- Add pins -->
      <div class="interactive-pin" data-pin-id="1"></div>
      <div class="interactive-pin" data-pin-id="2"></div>
      <div class="interactive-pin" data-pin-id="3"></div>
      <div class="interactive-pin" data-pin-id="4"></div>
      <div class="interactive-pin" data-pin-id="5"></div>
      <div class="interactive-pin" data-pin-id="6"></div>
      <div class="interactive-pin" data-pin-id="7"></div>
  
            
      <!-- Popup for Bed & Breakfasts, Inns, and Hotels -->
      <div id="popup-1" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Dedicated Insurance for Construction Endeavors</h2>
        <p><strong>Problem:</strong> Construction projects are susceptible to a myriad of risks, including accidents on site, delays, and equipment damage or theft.</p>
        <p><strong>Solution:</strong> Our Construction Insurance provides comprehensive coverage, encompassing general liability, workers' comp, and equipment insurance, ensuring that your projects continue smoothly and on schedule.</p>
        
      </div>
      

      <!-- Popup for Interior Carpentry -->
      <div id="popup-2" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Secure Your Craft with Confidence</h2>
        <p><strong>Problem:</strong> Interior carpentry requires precision and can be impacted by accidents or damage to work areas.</p>
        <p><strong>Solution:</strong> Our BOP and Workers’ Comp policies protect your business from the unexpected, ensuring your craftsmanship continues to shine.</p>
        
      </div>

      <!-- Popup for Grocery Stores -->
      <div id="popup-3" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Protect Your Source of Nourishment</h2>
        <p><strong>Problem:</strong> Grocery stores are the community's backbone, yet vulnerable to liabilities like customer injuries or product issues.</p>
        <p><strong>Solution:</strong> Our policies offer comprehensive protection, from the shelves to the checkout, ensuring your store serves the community without interruption.</p>
        
      </div>

      <!-- Popup for Property Managers -->
      <div id="popup-4" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Asset Protection for Property Managers</h2>
        <p><strong>Problem:</strong> Managing properties comes with the risk of damage to assets and liability claims.</p>
        <p><strong>Solution:</strong> Our customized insurance options cover all aspects of property management, from tenant interactions to natural disaster protection.</p>
        
      </div>

      <!-- Popup for Auto Services -->
      <div id="popup-5" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Robust Coverage for Auto Services</h2>
        <p><strong>Problem:</strong> The auto service industry faces risks from equipment damage to customer vehicle accidents on-site.</p>
        <p><strong>Solution:</strong> Our insurance plans are designed to cover the specific needs of auto service providers, giving you the security to focus on service excellence.</p>
        
      </div>

      <div id="popup-6" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Essential Protection for Your Culinary Creations</h2>
        <p><strong>Problem:</strong> Restaurants face risks ranging from kitchen fires to food safety concerns, impacting operations and guest experiences.</p>
        <p><strong>Solution:</strong> Our specialized Restaurant Insurance goes beyond general liability, offering coverage for property, employee, and guest-related incidents, ensuring you can continue delighting palates without worry.</p>
        
      </div>
      

      <div id="popup-7" class="popup hidden">
        <button class="popup-close">X</button>
        <h2>Comprehensive Coverage for Landscaping Services</h2>
        <p><strong>Problem:</strong> Landscapers encounter risks such as equipment theft, accidental property damage, and weather interruptions.</p>
        <p><strong>Solution:</strong> Our Landscaping Insurance policies protect against a wide array of industry-specific risks, ensuring that your business grows as beautifully as the lawns you maintain.</p>
        
      </div>


    </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Function to close all popups
    function closeAllPopups() {
      const popups = document.querySelectorAll('.popup');
      popups.forEach(popup => popup.classList.remove('visible'));
    }

    // Function to handle click on pin
    function handlePinClick(event: Event) {
      closeAllPopups();
      
      const pinId = (event.target as HTMLElement).getAttribute('data-pin-id');
      const popupId = `#popup-${pinId}`;
      const popup = document.querySelector(popupId);

      if (popup) {
        popup.classList.toggle('visible');
      }
    }

    // Add click event listener to each pin
    const pins = document.querySelectorAll('.interactive-pin');
    pins.forEach(pin => {
      pin.addEventListener('click', handlePinClick);
    });
    
    // Optionally, add a close button inside each popup and close the popup when it's clicked
    const closeButtons = document.querySelectorAll('.popup-close');
    closeButtons.forEach(button => {
      button.addEventListener('click', closeAllPopups);
    });
  });
</script>

<style>
#model .popup {
  position: absolute;
  z-index: 10; /* Make sure this is higher than any other content */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add more styles for aesthetics */
}

#model .popup.visible {
  display: block;
}
#model .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#model .interactive-pin {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  /* Use transform to center the pin correctly based on its own size */
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px 4px rgba(0, 123, 255, 0.6); /* Adjust the color and size as needed */
}


/* Position each pin individually */
#model .interactive-pin[data-pin-id="1"] {
  top: 45%;
  left: 25%;
}
#model .interactive-pin[data-pin-id="2"] {
  top: 40%;
  left: 45%;
}
#model .interactive-pin[data-pin-id="3"] {
  top: 67%;
  left: 40%;
}
#model .interactive-pin[data-pin-id="4"] {
  top: 80%;
  left: 52%;
}
#model .interactive-pin[data-pin-id="5"] {
  top: 50%;
  left: 85%;
}
#model .interactive-pin[data-pin-id="6"] {
  top: 35%;
  left: 73%;
}
#model .interactive-pin[data-pin-id="7"] {
  top: 23%;
  left: 45%;
}




@media screen and (min-width: 768px) {
  #model .model {
        max-width: 80%; /* or any other percentage or fixed size */
        height: auto; /* maintain aspect ratio */
        margin: 0 auto; /* center the image */
    }
}

</style>