---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber_es.astro";

---

<section class="relative pt-32 lg:pt-36">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
            <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        <div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
            
            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
            font-bold text-heading-1">
            Privacy Policy <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600"></span>
            </h1>
            
            <Paragraph className="mt-8">
                
                Effective Date: 10/16/2023
                This Privacy Policy explains how Fortis Multi-Service Agency, LLC collects, uses, and discloses personal
                information about our customers, prospective customers, and visitors to our website at fortismultiservice.com.
                COLLECTION OF PERSONAL INFORMATION 
                Information collected directly from you: We may collect personal information directly from you, for
                example through a web form, during registration, while making a reservation, while setting up an
                account with us, when you contact us for customer support, or at checkout. Personal information we
                collect directly from you may include first and last name, address, email address, and phone number.
                Information collected from your device: Our website may use technologies such as cookies, web
                beacons, pixels, and other similar technologies to automatically collect certain information from your
                device including, for example, your IP address, date and time of your visit, browser and operating
                system information, referring website address, and other information about how you interact with the
                website. Our website may also use cookies and similar technologies to enhance your user experience
                and enable certain features such as keeping track of items you put in your shopping cart. Our email
                campaigns may also use tracking technologies such as web beacons, pixels and other similar
                technologies to automatically collect certain information such as your IP address, browser type and
                version, and email engagement statistics.
                Information collected from our partners: We may collect personal information about you from our third-
                party partners and combine it with other information that we collect. Personal information we collect
                from our partners may include, for example, your demographic information, shopping history, and
                geographic location.
                USE OF PERSONAL INFORMATION 
                We may use information collected about you for any lawful purpose, including the following:
                ● To provide you with our products and services, customer service and support, and other
                relevant information;
                ● To market our products and services to you, including by email and text message subject to your
                consent;
                ● To provide our website to you, to optimize our website, and to assist with our advertising and
                marketing efforts;
                ● To send you abandoned cart reminders if you added items to your shopping cart but did not
                complete check out;
                ● To comply with the law and to maintain the security of our website; or
                ● With your consent, or as otherwise disclosed at the time information is collected.
                DISCLOSURE OF PERSONAL INFORMATION 
                We may share the information we collect with other parties, including the following:
                ● With third-party service providers to assist us with providing and marketing our products and
                services, such as payment processors, data hosting services, analytics services, online store
                support, advertising partners, and email service providers.
                ● With Constant Contact, to send email marketing and text message communications. For more
                information about how we may use your information with Constant Contact and the
                information that may be collected through our email campaigns, see Constant Contact’s
                Customer Data Notice available at https://www.constantcontact.com/legal/customer-contact-
                data-notice.
                ● With any affiliates or joint venture partners that we may have in the future.
                ● As part of a corporate sale, merger, or acquisition, or other transfer of all or part of our assets,
                including as part of a bankruptcy proceeding.
                ● If necessary to comply with applicable laws and regulations, to respond to a subpoena, search
                warrant or other lawful request for information we receive, or to otherwise protect our rights or
                the rights of third parties, or to protect the safety or security of any person or entity.
                ● With your consent or as otherwise disclosed at the time of data collection or sharing.
                We may share information that has been de-identified or aggregated without limitation.
                Our website may offer interactive features, such as the ability to leave reviews, that you can use to
                communicate with other website visitors or to submit and post your own content. If you disclose
                information in one of these forums, this information can be viewed, collected, and used by others.
                DIGITAL ADVERTISING & ANALYTICS 
                We may authorize our advertising partners to use cookies and similar technologies on our website to
                automatically collect certain information from your device, and we may share information about you,
                your purchases, and your interactions with our website with our advertising partners. These partners
                may also collect information from other websites or apps over time, including information about
                relationships among different browsers and devices. Such information can be used by us or our
                advertising partners to serve more relevant targeted ads. For more information about this type of
                advertising and how to opt out of targeted advertising from our advertising partners, go to
                www.aboutads.info. 
                We may also work with third parties that collect data about your use of our website and other sites or
                apps over time for non-advertising purposes. We use Google Analytics and other third-party services to
                improve the performance of the website and for analytics and marketing purposes. For more
                information about how Google Analytics collects and uses data when you use our website, visit
                www.google.com/policies/privacy/partners, and to opt out of Google Analytics, visit
                tools.google.com/dlpage/gaoptout.] 
                Your web browser may allow you to block or disable cookies; however, parts of our website may not
                function properly if you do so.
                EMAIL AND TEXT MESSAGE COMMUNICATIONS
                If you wish to unsubscribe from our email campaigns, please click on the Unsubscribe link at the bottom
                of any marketing email sent from us. If you opt out of our email marketing, we will still send you messages
                related to our transactions and relationship with you, such as order confirmations.
                If you wish to stop receiving text messages from us, reply STOP, QUIT, CANCEL, OPT-OUT, or UNSUBSCRIBE
                to any text message sent from us. For more information, see our Mobile Messaging Terms and Conditions
                available at [insert link to your mobile terms].
                [YOUR PRIVACY RIGHTS] 
                UPDATING YOUR INFORMATION 
                When you have an account with us, you may review, change, or update your contact information by
                logging into your account.
                CHANGES TO THIS PRIVACY POLICY
                We may update this Privacy Policy at any time. Please review it frequently.
                CONTACT INFORMATION
                If you have any questions about this policy or our privacy practices, please contact us at 2403705585.
            </Paragraph>
            <div class="mt-10 max-w-md mx-auto">
                <form action="https://calendly.com/fortismultiservice/booknow" target="_blank" class="flex items-center shadow-lg rounded-full bg-primary">
                  <input type="submit" value="Reserva tu consulta gratuita ahora" class="flex-grow p-3 lg:p-4 text-white text-heading-3 focus:outline-none">
                  <svg class="w-6 h-6 text-white mx-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M12 10l-3.559 3.562c-0.172 0.173-0.451 0.176-0.625 0-0.173-0.173-0.173-0.451 0-0.624l3.248-3.25-3.248-3.25c-0.173-0.173-0.173-0.451 0-0.624 0.172-0.175 0.451-0.175 0.624 0l3.738 3.736c0.172 0.173 0.172 0.454 0 0.626L12 10z M18.406 10c0 4.644-3.764 8.406-8.406 8.406S1.594 14.644 1.594 10 5.356 1.594 10 1.594 18.406 5.356 18.406 10zM17.521 10c0-4.148-3.374-7.521-7.521-7.521S2.479 5.852 2.479 10s3.374 7.521 7.521 7.521S17.521 14.148 17.521 10z"></path>
                  </svg>
                </form>
            </div>
              
              
        </div>

    </Container>

</section>