---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Nuestros Servicios
            </Title>
            <Paragraph>
                ¡Todo en un solo lugar para seguros, bienes raíces y más!
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Service title="Servicios de Corretaje de Seguros" description="Nuestros servicios de correduría de seguros incluyen seguro comercial, responsabilidad civil general, compensación a los trabajadores, paraguas comerciales, seguro de vida a término, seguro de vida universal indexado, seguro de vida entera, líneas de seguro personal para automóviles y propietarios de viviendas, así como errores y omisiones y responsabilidad profesional.", imageUrl="/images/image1.webp", language="es">
            </Service>
            <Service title="Servicios de Seguros de Compensación para Trabajadores y Responsabilidad General" description="Opte por un seguro de Compensación para Trabajadores y Responsabilidad General eficiente. Está diseñado para proteger su negocio de manera efectiva contra riesgos de empleados y terceros, permitiéndole enfocarse en el crecimiento con tranquilidad.", imageUrl="https://images.pexels.com/photos/585419/pexels-photo-585419.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", language="es">
            </Service>
            <Service title="Seguro Empresarial para Restaurantes" description="Si eres dueño de un restaurante, necesitas un seguro para restaurantes. Conocemos los riesgos que enfrentas a diario y estamos aquí para ayudarte con cualquier situación que surja." imageUrl='https://images.pexels.com/photos/375468/pexels-photo-375468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' language="es">
            </Service>
            <Service title="Seguro Empresarial para Jardinería a lo Largo de Todas las Estaciones" description="Sabemos cuánto trabajas y los riesgos a los que te enfrentas. Obtén la cobertura de seguro para negocios de jardinería que entiende tus necesidades y siempre te respalda." imageUrl='https://images.pexels.com/photos/13630739/pexels-photo-13630739.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' language="es">
            </Service>
            <Service title="Servicios Inmobiliarios" description="Nuestros servicios de bienes raíces ofrecen representación para vendedores, compradores e inversores inmobiliarios. También apoyamos a los inversores en bienes raíces, inversionistas de retención de compras y mayoristas." imageUrl="/images/home.jpeg", language="es">
            </Service>
            <Service title="Membresías de LegalShield" description="Nuestras membresías de LegalShield cubren tanto las membresías comerciales como personales, proporcionando asistencia con testamentos en vida, configuración de fideicomisos, revisiones de contratos, consultas, representación en violaciones de tráfico y defensa legal con descuento." imageUrl="https://images.pexels.com/photos/5668473/pexels-photo-5668473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2", language="es">           
            </Service>
        </div>
    </Container>
</section>
