---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Nuestros Servicios
            </Title>
            <Paragraph>
                ¡Todo en un solo lugar para seguros, bienes raíces y más!
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Service title="Servicios de Corretaje de Seguros" description="Nuestros servicios de correduría de seguros incluyen seguro comercial, responsabilidad civil general, compensación a los trabajadores, paraguas comerciales, seguro de vida a término, seguro de vida universal indexado, seguro de vida entera, líneas de seguro personal para automóviles y propietarios de viviendas, así como errores y omisiones y responsabilidad profesional.", imageUrl="https://images.pexels.com/photos/3760067/pexels-photo-3760067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2", language="es">
            </Service>
            <Service title="Seguros para Deportes Motorizados" description="Cobertura Especializada para Deportes Motorizados y Coches Clásicos: Proteja sus valiosos activos con nuestros Servicios de Seguros para Deportes Motorizados y Coches Clásicos. Porque su pasión merece una protección excepcional." imageUrl="/images/motorsports.webp", language="es">
            </Service>
            <Service title="Servicios Inmobiliarios" description="Nuestros servicios de bienes raíces ofrecen representación para vendedores, compradores e inversores inmobiliarios. Somos un distribuidor de Futurity Homes y proporcionamos préstamos residenciales y comerciales internamente. También apoyamos a los inversores en bienes raíces, inversionistas de retención de compras y mayoristas." imageUrl="/images/home.jpeg", language="es">
            </Service>
            <Service title="Membresías de LegalShield" description="Nuestras membresías de LegalShield cubren tanto las membresías comerciales como personales, proporcionando asistencia con testamentos en vida, configuración de fideicomisos, revisiones de contratos, consultas, representación en violaciones de tráfico y defensa legal con descuento." imageUrl="https://images.pexels.com/photos/5668473/pexels-photo-5668473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2", language="es">           
            </Service>
        </div>
    </Container>
</section>
