---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Our Services
            </Title>
            <Paragraph>
                A one-stop shop for Insurance, Real Estate, and More!
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Service title="Insurance Brokerage Services" description="Benefit from our vast network and expertise with Property & Casualty and Life insurance in MD, VA, and DC. We specialize in commercial and personal lines, ensuring you get a policy tailored to your specific needs.", imageUrl="https://images.pexels.com/photos/3760067/pexels-photo-3760067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2", language="es">
            </Service>
            <Service title="Motorsports Insurance" description="Specialized Coverage for Motorsports and Classic Cars: Safeguard your valuable assets with our tailored Motorsports and Classic Car Insurance Services. Because your passion deserves exceptional protection.", imageUrl='/images/motorsports.webp', language="es">
            </Service>
            <Service title="Real Estate Services" description="End-to-End Real Estate Solutions: Whether you're buying, selling, or investing, we're here to simplify your real estate journey. Leverage our extensive network of lenders and title companies and let us guide you every step of the way.", imageUrl="/images/home.jpeg", language="es">
            </Service>
            <Service title="LegalShield Memberships" description="Preventative Legal Services and Identity Protection: Safeguard your personal and business interests with our comprehensive LegalShield Memberships. Enjoy peace of mind with pre-paid legal services and robust identity theft protection.", imageUrl="https://images.pexels.com/photos/5668473/pexels-photo-5668473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2", language="es"> 
            </Service>
        </div>
    </Container>
</section>
