---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Nuestros Servicios
            </Title>
            <Paragraph>
                ¡Todo en un solo lugar para seguros, bienes raíces y más!
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Service title="Servicios de Corretaje de Seguros" description="Benefíciese de nuestra amplia red y experiencia en Seguros de Propiedad y Accidentes y Seguros de Vida en MD, VA y DC. Nos especializamos en líneas comerciales y personales, asegurando que obtenga una póliza adaptada a sus necesidades específicas.", imageUrl="https://images.pexels.com/photos/3760067/pexels-photo-3760067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2", language="es">
            </Service>
            <Service title="Seguros para Deportes Motorizados" description="Cobertura Especializada para Deportes Motorizados y Coches Clásicos: Proteja sus valiosos activos con nuestros Servicios de Seguros para Deportes Motorizados y Coches Clásicos. Porque su pasión merece una protección excepcional." imageUrl="/images/motorsports.webp", language="es">
            </Service>
            <Service title="Servicios Inmobiliarios" description="Soluciones Inmobiliarias de Principio a Fin: Ya sea que esté comprando, vendiendo o invirtiendo, estamos aquí para simplificar su viaje inmobiliario. Aproveche nuestra extensa red de prestamistas y compañías de títulos y permítanos guiarle en cada paso del camino." imageUrl="https://images.pexels.com/photos/8436663/pexels-photo-8436663.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2", language="es">
            </Service>
            <Service title="Membresías de LegalShield" description="Servicios Legales Preventivos y Protección de Identidad: Proteja sus intereses personales y empresariales con nuestras completas Membresías de LegalShield. Disfrute de la tranquilidad con servicios legales prepagados y una robusta protección contra el robo de identidad." imageUrl="https://images.pexels.com/photos/5668473/pexels-photo-5668473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2", language="es">           
            </Service>
        </div>
    </Container>
</section>
