---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Our Services
            </Title>
            <Paragraph>
                A one-stop shop for Insurance, Real Estate, and More!
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Service title="Insurance Brokerage Services" description="Licensed in Property & Casualty and Life insurance in MD, VA, and DC. Specializing in Commercial lines, Personal lines, Life and Disability Insurance.", imageUrl="https://static.wixstatic.com/media/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg/v1/fill/w_490,h_490,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg", language="en">
            </Service>
            <Service title="Motorsports Insurance" description="Providing specialized Motorsports and Classic Car Insurance Services.", imageUrl="https://static.wixstatic.com/media/90a441_ffc7d4ed71d64b678e72602148ded903~mv2.jpg/v1/fill/w_490,h_368,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/90a441_ffc7d4ed71d64b678e72602148ded903~mv2.jpg", language="en">
            </Service>
            <Service title="Real Estate Services" description="Professional Real Estate services for Sellers, buyers, and investors. Providing a network of lenders and title companies to assist every step of the way.", imageUrl="https://static.wixstatic.com/media/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg/v1/fill/w_490,h_490,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg", language="en">
            </Service>
            <Service title="LegalShield Memberships" description="Offering pre-paid legal services and identity theft protection for personal and business accounts through Legalshield, our preferred vendor.", imageUrl="https://static.wixstatic.com/media/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg/v1/fill/w_490,h_490,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg", language="en"> 
            </Service>
        </div>
    </Container>
</section>
