---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Nuestros Servicios
            </Title>
            <Paragraph>
                ¡Todo en un solo lugar para seguros, bienes raíces y más!
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Service title="Servicios de Correduría de Seguros" description="Con licencia en seguros de propiedad y accidentes y seguros de vida en MD, VA y DC. Especializados en líneas comerciales, líneas personales, seguros de vida y discapacidad." imageUrl="https://static.wixstatic.com/media/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg/v1/fill/w_490,h_490,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg", language="es">
            </Service>
            <Service title="Seguros de Deportes de Motor" description="Ofreciendo servicios especializados de seguros para deportes de motor y automóviles clásicos." imageUrl="https://static.wixstatic.com/media/90a441_ffc7d4ed71d64b678e72602148ded903~mv2.jpg/v1/fill/w_490,h_368,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/90a441_ffc7d4ed71d64b678e72602148ded903~mv2.jpg", language="es">
            </Service>
            <Service title="Servicios Inmobiliarios" description="Servicios profesionales de bienes raíces para vendedores, compradores e inversionistas. Brindamos una red de prestamistas y compañías de títulos para ayudar en cada paso del camino." imageUrl="https://static.wixstatic.com/media/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg/v1/fill/w_490,h_490,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg", language="es">
            </Service>
            <Service title="Membresías de LegalShield" description="Ofrecemos servicios legales prepagados y protección contra robo de identidad para cuentas personales y comerciales a través de Legalshield, nuestro proveedor preferido." imageUrl="https://static.wixstatic.com/media/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg/v1/fill/w_490,h_490,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/90a441_b5b9a2f5af194fe5a8f8cae653a62e1d~mv2.jpg", language="es">           
            </Service>
        </div>
    </Container>
</section>
