---
import TeamMember from "../cards/TeamMember.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="team">
    <Container className="space-y-10 md:space-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Meet Our Team
            </Title>
            <Paragraph>
                Dedicated professionals at your service.
            </Paragraph>
            
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <TeamMember 
                name="Annette Velasquez" 
                title="Marketing Specialist" 
                description="Annette brings creative marketing strategies to the team, ensuring our services reach a broad audience." 
                imageUrl="https://github.com/luisadrianpuga/image_hosting/blob/main/annette-velasquez.jpeg?raw=true"
                email="Annette@fortismultiservice.com"
                phone="301-259-5082"
                language="es">
            </TeamMember>

            <TeamMember 
                name="Jorge A. Guillen" 
                title="Marketing Coordinator" 
                description="Jorge specializes in coordinating and optimizing our marketing initiatives, ensuring each project is executed flawlessly." 
                imageUrl="https://github.com/luisadrianpuga/image_hosting/blob/main/Jorge.jpg?raw=true" 
                email="Jorge@Fortismultiservice.com" 
                phone="240-647-5694" 
                language="en">
            </TeamMember>
        
        </div>

        
    </Container>
</section>