---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber_es.astro";

---

<section class="relative pt-32 lg:pt-36">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
            <span class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
            <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        <div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">
            
            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
            font-bold text-heading-1">
            Terms and Conditions <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600"></span>
            </h1>
            
            <Paragraph className="mt-8">
                
Last updated: 10/16/2023
Fortis Multi-Service Agency, LLC (“Fortis Multi-Service Agency, LLC”, “we”, or “us”) operates a mobile
messaging program (the “Program”) subject to these Mobile Messaging Terms and Conditions
(the “Mobile Messaging Terms”). The Program and our collection and use of your personal
information is also subject to our Privacy Policy. By enrolling,
signing up, or otherwise agreeing to participate in the Program, you accept and agree to these
Mobile Messaging Terms and our Privacy Policy.
1. Program Description: We may send promotional and transactional mobile messages in
various formats through the Program. Promotional messages advertise and promote our
products and services and may include [promotions, specials, other marketing offers, and
abandoned checkout reminders]. Transactional messages relate to an existing or ongoing
transaction and may include [order notifications and updates, appointment reminders, and
other transaction-related information]. Mobile messages may be sent using an automated
technology, including an autodialer, automated system, or automatic telephone dialing
system. Message frequency will vary. You agree that
we, our affiliates, and any third-party service providers may send you messages regarding
the foregoing topics or any topic and that such messages and/or calls may be made or
placed using different telephone numbers or short codes. We do not charge for mobile
messages sent through the Program but you are responsible for any message and data
rates imposed by your mobile provider, as standard data and message rates may apply for
SMS and MMS alerts.
2. User Opt-In: By providing your mobile phone number to us, you are voluntarily opting in to
the Program and you agree to receive recurring mobile messages from us at the mobile
phone number associated with your opt-in, even if such number is registered on any state or
federal “Do Not Call” list. You agree that any mobile phone number you provide to us is a
valid mobile phone number of which you are the owner or authorized user. If you change
your mobile phone number or are no longer the owner or authorized user of the mobile
phone number, you agree to promptly notify us at 2403705585
Your participation in the Program is not required to make any purchase from us and your
participation in the Program is completely voluntary.
3. User Opt-Out and Support: You may opt-out of the Program at any time. If you wish to opt-
out of the Program and stop receiving mobile messages from us, or you no longer agree to
these Mobile Messaging Terms, reply STOP, QUIT, CANCEL, OPT-OUT, and/or
UNSUBSCRIBE to any mobile message from us. You may continue to receive text
messages for a short period while we process your request and you may receive a one-time
opt-out confirmation message. You understand and agree that the foregoing is the only
reasonable method of opting out. For support, reply HELP to any mobile message from us.
Our mobile messaging platform may not recognize requests that modify the foregoing
commands, and you agree that we and our service providers will not be liable for failing to
honor requests that do not comply with the requirements in these Mobile Messaging Terms.
We may also change the telephone number or short code we use to operate the Program
and we will notify you of any such change. You acknowledge that any requests sent to a
telephone number or short code that has been changed may not be received by us and we
will not be responsible for failing to honor a request sent to a telephone number or short
code that has been changed.
4. Disclaimer of Warranty and Liability: The Program is offered on an “as-is” basis and may
not be available in all areas, at all times, or on all mobile providers. You agree that neither
we nor our service providers will be liable for any failed, delayed, or misdirected delivery of
any mobile message or information sent through the Program.
5. Modifications: We may modify or cancel the Program or any of its features at any time, with
or without notice. To the extent permitted by applicable law, we may also modify these
Mobile Messaging Terms at any time. Any such modification will take effect when it is posted
to our website. You agree to review these Mobile Messaging Terms periodically to ensure
that you are aware of any modifications. Your continued participation in the Program will
constitute your acceptance of those modifications.
            </Paragraph>
            <div class="mt-10 max-w-md mx-auto">
                <form action="https://calendly.com/fortismultiservice/booknow" target="_blank" class="flex items-center shadow-lg rounded-full bg-primary">
                  <input type="submit" value="Reserva tu consulta gratuita ahora" class="flex-grow p-3 lg:p-4 text-white text-heading-3 focus:outline-none">
                  <svg class="w-6 h-6 text-white mx-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M12 10l-3.559 3.562c-0.172 0.173-0.451 0.176-0.625 0-0.173-0.173-0.173-0.451 0-0.624l3.248-3.25-3.248-3.25c-0.173-0.173-0.173-0.451 0-0.624 0.172-0.175 0.451-0.175 0.624 0l3.738 3.736c0.172 0.173 0.172 0.454 0 0.626L12 10z M18.406 10c0 4.644-3.764 8.406-8.406 8.406S1.594 14.644 1.594 10 5.356 1.594 10 1.594 18.406 5.356 18.406 10zM17.521 10c0-4.148-3.374-7.521-7.521-7.521S2.479 5.852 2.479 10s3.374 7.521 7.521 7.521S17.521 14.148 17.521 10z"></path>
                  </svg>
                </form>
            </div>
              
              
        </div>

    </Container>

</section>