---
import Service from "../cards/Testimonial.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<style>
  .snap {
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: 10px; 
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-start {
  width: 100%;
  flex-shrink: 0;
  min-height: 40px; 
  display: flex; 
  flex-direction: column; 
  align-items: stretch; 
  overflow: hidden; 
  justify-content: space-between; 
}

@media screen and (min-width: 768px) { 
    .snap-start {
        width: 30%;
    }
}

.Service img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.snap-center {
  scroll-snap-align: center;
}

</style>

<section id="testimonials">
    <Container className="space-y-10 md:sapce-y-12">
      <div class="text-center max-w-3xl mx-auto space-y-4">
        <Title>
          See our satisfied clients
        </Title>
      </div>
      <div class="flex overflow-x-auto snap snap-x">
        
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess1.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess2.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess3.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess4.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess5.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess6.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess7.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess8.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess9.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess10.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess11.jpg">
          </Service>
        </div>
        <div class="snap-start">
          <Service
            name="🎉 New Home Owners"
            testimonial="Meet the newest neighbors."
            imageUrl="/images/fortissuccess12.jpg">
          </Service>
        </div>
        <div class="snap-start">
        <Service
          name="🎉 New Home Owners"
          testimonial="Meet the newest neighbors."
          imageUrl="https://static.wixstatic.com/media/90a441_7221ea8072a946769376f5707c3c8111~mv2.jpg/v1/fill/w_826,h_826,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90a441_7221ea8072a946769376f5707c3c8111~mv2.jpg">
        </Service>
        </div>
        <div class="snap-start">
        <Service
          name="🎉 New Home Owners"
          testimonial="Meet the newest neighbors."
          imageUrl="https://static.wixstatic.com/media/90a441_e51332884e5943a68a81a2ec2384b3fd~mv2.jpg/v1/fill/w_826,h_826,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90a441_e51332884e5943a68a81a2ec2384b3fd~mv2.jpg">
        </Service>
        </div>
        <div class="snap-start">
        <Service
          name="🎉 New Home Owners"
          testimonial="Meet the newest neighbors."
          imageUrl="https://static.wixstatic.com/media/90a441_3fe99051a3284095b85f3b2846559a0c~mv2.jpg/v1/fill/w_690,h_690,al_c,q_85,enc_auto/90a441_3fe99051a3284095b85f3b2846559a0c~mv2.jpg">
        </Service>
        </div>
        <div class="snap-start">
        <Service
          name="🎉 New Home Owners"
          testimonial="Meet the newest neighbors."
          imageUrl="https://static.wixstatic.com/media/90a441_8d8396bdbda04d4fb65b4735bfe82d02~mv2.jpg/v1/fill/w_826,h_826,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90a441_8d8396bdbda04d4fb65b4735bfe82d02~mv2.jpg">
        </Service>
        </div>
        <div class="snap-start">
        <Service
          name="🎉 New Home Owners"
          testimonial="Meet the newest neighbors."
          imageUrl="https://static.wixstatic.com/media/90a441_40bb6567d479406d92e6d28005e1f6e9~mv2.jpg/v1/fill/w_826,h_826,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90a441_40bb6567d479406d92e6d28005e1f6e9~mv2.jpg">
        </Service>
        </div>
        <div class="snap-start">
        <Service
          name="🎉 New Home Owners"
          testimonial="Meet the newest neighbors."
          imageUrl="https://static.wixstatic.com/media/90a441_9894c57d92614212844d3b2d581d9a75~mv2.jpg/v1/fill/w_231,h_315,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/90a441_9894c57d92614212844d3b2d581d9a75~mv2.jpg">
        </Service>
        </div>
        <div class="snap-start">
       <Service
          name="🎉 New Home Owners"
          testimonial="Meet the newest neighbors."
          imageUrl="https://static.wixstatic.com/media/90a441_a4961b4d4c8a47108ff648fb3671901c~mv2.jpg/v1/fill/w_231,h_315,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/90a441_a4961b4d4c8a47108ff648fb3671901c~mv2.jpg">
        </Service>
        </div>
       
      </div>
      <div class="flex justify-center">
        <a href="https://g.page/r/CQO7xC_0Wk3cEB0/review" target="_blank" rel="noopener noreferrer" class="bg-primary text-white px-6 py-3 rounded-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary">
          Leave a Google Review →
        </a>
      </div>
    </Container>
  </section>

  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const scrollContainer = document.querySelector('.flex.overflow-x-auto');
      let scrollStep = 710; // Adjust this value based on the size of your items
      let scrollInterval: number | undefined;
  
      function startAutoScroll() {
        scrollInterval = setInterval(function () {
          if (scrollContainer && scrollContainer.scrollLeft < scrollContainer.scrollWidth - scrollContainer.clientWidth) {
            scrollContainer.scrollBy({ left: scrollStep, top: 0, behavior: 'smooth' });
          } else {
            if (scrollContainer) {
              scrollContainer.scrollTo({ left: 0, top: 0, behavior: 'smooth' });
            }
          }
        }, 4000); // Adjust time for scrolling speed
    