---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero_es.astro';
import Team from '../components/sections/Equipo.astro';
import Services from '../components/sections/Services_es.astro';
import Affiliates from '../components/sections/Affiliates_es.astro';
import Contact from '../components/sections/Contact_es.astro';
import AboutUs from '../components/sections/AboutUs_es.astro';
import Features from '../components/sections/Features_es.astro';
import CTA from '../components/sections/CTA_es.astro';
import Testimonial from '../components/sections/Testimonial_es.astro';
import Brands from '../components/sections/Brands_es.astro';
import Footer from "../components/elements/Footer_es.astro";
---

<Layout title="Bienvenido a Fortis">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<Brands/>
		<Services/>
		<Affiliates/>
		<AboutUs/>
		<Team/>
		<Features/>
		<CTA/>
		<Testimonial/>
		<Contact/>
		
	</main>
	<Footer />
</Layout>