---
---
<div class="fixed right-4 bottom-4 z-50 flex flex-col gap-4">
    
   
    
    <button id="back-to-top-btn" class="back-to-top p-2 mb-20 rounded-full bg-primary text-white" aria-label="Back to top">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-9 w-9">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
        </svg>
    </button>

   
</div>


<style>
    .back-to-top {
        transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
        animation: wiggle 3.5s 1;
    }

    @keyframes wiggle {
        0% {
            transform: rotateZ(0deg);
        }
        20% {
            transform: rotateZ(-5deg);
        }
        40% {
            transform: rotateZ(5deg);
        }
        60% {
            transform: rotateZ(-3deg);
        }
        80% {
            transform: rotateZ(3deg);
        }
        100% {
            transform: rotateZ(0deg);
        }
    }
</style>
